<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menampilkan data</title>
  <link rel="stylesheet" href="../style.css">
</head>

<body>

  <div>
    <h1>ID</h1>
    <table>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>price</th>
        <th>stock</th>
        <th>action</th>
      </tr>
      <% data.forEach((product)=> { %>
        <tr>
          <td>
            <%= product.id %>
          </td>
          <td>
            <%= product.name %>
          </td>
          <td>
            <%= product.price %>
          </td>
          <td>
            <%= product.stock %>
          </td>
          <td>
            <a href="/update/product/<%= product.id %>">Update</a>
          </td>
        </tr>
        <% }) %>
    </table>
  </div>
</body>

</html>